{% extends 'base.html' %}
{% block header %}
<div align="center">
    <h5>{% block title %}{{ filename }}{% endblock %}</h5>
</div>
{% endblock %}

{% block content %}
    <div align="center" id="table">
        {{ text | safe }}
    </div>
    <audio controls style="display: none">
        <source id="source" src="" type="audio/mpeg">
    </audio>
{% endblock %}
{% block script %}
<script>
    function sayword(word){
        $.ajax({
            type: 'GET',
            url: {{ url_for('text_to_speech') |tojson }},
            data: {word:word.innerHTML},
            success: function(data){
                console.log(data);
                $('audio #source').attr('src', data);
                $('audio').get(0).load();
                $('audio').get(0).play();
            }
        });
    }
</script>
{% endblock %}